@page "/"

<div class="container" >
    <div class="row">
        <br/><br/><br/>
    </div>
    <div class="row"  >
        <div class="col-md-3" ></div>
        <div class="col-md-6" >
            <div class="row" >
                <div class="box shadow p-3" style="background-image: url(Entrepreneur.jpg);width:130% ;" >                    
                    <div class="row"><br/><br/><br/></div>
                    <div class="row"><br/><br/><br/></div>
                    <div class="row">
                        <div class="col"></div>
                        <a href="Entrepreneur/SignUp" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">کارآفرین</a>
                        
                        <br/>            
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row  " >            
                <div class="box shadow p-3" style="background-image: url(Employee.jpg);width : 130% ;">   
                    <div class="row"><br/><br/><br/></div>
                    <div class="row"><br/><br/><br/></div>
                    <div class="row">
                        <div class="col"></div>                          
                            <a href="Clerk/SignUp" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">کارمند</a>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col"></div>
        @* <div class="col" style="align-items: center;"> *@
            <br/>
            <p>
                اگر از قبل حساب دارید : <a href="/Login" > ورود</a> 
            </p>
            <br/><br/><br/><br/>
        @* </div> *@
        <div class="col"></div>
    </div>
</div>

@code {}