@inherits LayoutComponentBase

<div class="main">
    <div class="navbar navbar-dark" style="background-color: #00CC99;">
        <h3 class="text-white">KARTOPIDA</h3>
    </div>

    <div style="background-color: #f2f2f2;">
        @Body
    </div>

    @* <div class="navbar navbar-dark" style="background-color: #bfbfbf;">
        <a href="google.com" style = "font-color : white ;"> راهنمایی </a>
        <a href="google.com" style = "font-color : white ;"> پشتیبانی </a>
        <a href="google.com" style = "font-color : white ;"> فرصت های شغلی </a>

    </div> *@
</div>

